* {
    box-sizing: border-box;
}

html {
    background: #615dad;
    background: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}