* {
    box-sizing: border-box;
}

html {
    background: #615dad;
    background: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    position: relative;
    top: 4rem;
    left: calc((100vw - 350px)/2);
    font-family: sans-serif;
}

.intro__photo {
    border-radius: 5px 5px 0px 0px;
}

.intro__title {
    font-family: "Lobster";
}

.intro__paragraph {
    font-size: 90%;
    padding: 1rem;
}

.intro__description {
    background-color: #283e50;
    color: #ffffff;
}

.intro__rules {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1fcca4;
    color: #ffffff;
    height: 2.5rem;
    text-decoration: none;
    border-bottom: 1px solid #283e50;
}

.intro__rules:hover {
    background-color: #1cbb96;
}

.intro__start {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0197f6;
    color: #ffffff;
    height: 2.5rem;
    text-decoration: none;
}

.intro__start:hover {
    background-color: #0090e9;
}

