* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-attachment: fixed;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    margin: 5rem auto auto auto;
    font-family: sans-serif;
}

.intro__photo {
    border-radius: 5px 5px 0px 0px;
}

.intro__title {
    font-family: "Lobster", sans-serif;
}

.intro__paragraph {
    padding: 1rem;
    font-size: 15px;
}

.intro__description {
    background-color: #283e50;
    color: #ffffff;
}

.intro__rules {
    display: block;
    padding-top: 0.6rem;
    background-color: #1fcca4;
    color: #ffffff;
    height: 2.5rem;
    text-decoration: none;
    border-bottom: 1px solid #283e50;
}

.intro__rules:hover {
    background-color: #1cbb96;
}

.intro__start {
    display: block;
    padding-top: 0.6rem;
    background-color: #0197f6;
    color: #ffffff;
    height: 2.5rem;
    text-decoration: none;
}

.intro__start:hover {
    background-color: #0090e9;
}

